  
  .sort{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 2px solid #c5c5c5;
    max-width: 975px;
    margin-bottom: 20px;
    margin-left: 45px;
    justify-content: end;
  }

  .sort p{
    margin-right: 10px;
    color: rgba(75, 75, 75, 1);
    font-size: 16px;
    font-weight: 500;
  }

  .sort svg{
    margin-bottom: 28px;
  }

  @media(max-width: 1024px){
    .sort{
      margin-left: unset;
    }
  }

  @media(max-width: 411px){
    .sort{
      margin-bottom: 54px;
    }
  }