.cardItem{
    flex-direction: column;
    font-family: system-ui;
    max-width: 307px;
}

.cardItemImg{
    width: 247px;
    margin-bottom: 40px;
}

.cardItemTitle{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}


.cardItemText{
    font-size: 14px;
    margin-bottom: 13px;
}

.cardItemNewPrice{
    font-weight: 500;
    margin-bottom: 15px;
}

.cardItemPrice{
    text-decoration: line-through;
    color: rgba(197, 197, 197, 1);
    margin-left: 15px;
    margin-bottom: 15px;
}

.addToCart{
    color: white;
    background-color: rgba(71, 108, 255, 1);
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
}

.addToFav{
    color: rgba(71, 108, 255, 1);
    margin-left: 25px;
}

.inCart {
    color: rgba(71, 108, 255, 1);;
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  
  .addToCart {
    display: block;
  }
  
  .addToCart:disabled {
    display: none;
  }
  
